// 全局变量
$body-font-family: 'Roboto',
sans-serif !default;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;

$border-color-root: rgba(0, 0, 0, 0.12) !default;
$border-radius-root: 4px !default;
$border-style-root: solid !default;
$shadow-root: 0 3px 1px -2px rgba(0, 0, 0, .2),
0 2px 2px 0 #00000024,
0 1px 5px 0 rgba(0, 0, 0, .12); // 主要颜色

$black: #000;
$white: #fff;


$default: $white;

$primary: #5cbbf6;
// 错误
$danger: #FF5252;
// 成功
$success: #4CAF50;
// 警告
$warning: #FFC107;

//动画
$standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
$decelerated-easing: cubic-bezier(0.0, 0, 0.2, 1); // Entering
$accelerated-easing: cubic-bezier(0.4, 0, 1, 1); // Leaving
