// 全局变量
$body-font-family: 'Roboto',
sans-serif !default;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;

$border-color-root: rgba(0, 0, 0, 0.12) !default;
$border-radius-root: 4px !default;
$border-style-root: solid !default;
$shadow-root: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

// 主要颜色

$black: #000;
$white: #fff;

// 主色
$primary: #1976D2;
// 副色
$secondary: #424242;
// 错误
$error: #FF5252;
// 初始化
$info: #2196F3;
// 成功
$success: #4CAF50;
// 警告
$warning: #FFC107;

//动画
$standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
$decelerated-easing: cubic-bezier(0.0, 0, 0.2, 1); // Entering
$accelerated-easing: cubic-bezier(0.4, 0, 1, 1); // Leaving
