@for $value from 1 through 24 {
  .col-#{$value} {
    width: (100 / 24 * $value * 1%);
    flex: 0 0 (100 / 24 * $value* 1%);
    background-clip: content-box;

  }

  .col-offset-#{$value} {
    margin-left: $value * (100% / 24);
  }
}
